<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Aufnahmeantrag</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Vorname: ' + ${registration.address().firstName()}" />
<p th:text="'Nachname: ' + ${registration.address().lastName()}" />
<p th:text="'Geschlecht: ' + ${registration.gender().displayValue}" />
<p th:text="'Staatsangehörigkeit: ' + ${registration.country()}" />
<p th:text="'Geburtsdatum: ' + ${#dates.format(registration.dateOfBirth(), 'dd.MM.yyyy')}" />
<p th:text="'Telefon: ' + ${registration.telephone()}" />
<p th:text="'Straße: ' + ${registration.address().street()}" />
<p th:text="'Hausnummer: ' + ${registration.address().houseNr()}" />
<p th:text="'PLZ: ' + ${registration.address().plz()}" />
<p th:text="'Ort: ' + ${registration.address().city()}" />
<p th:text="'E-Mail: ' + ${registration.email()}" />
<p th:text="'Abteilung: ' + ${registration.department().displayValue}" />
<p th:text="'Status: ' + ${registration.state().displayValue}" />
<a th:href="@{'/sepa?id=' + ${id}}">Weiter zu Sepa</a>
</body>
</html>